
div {
  background: yellow
}

.big {
  font-size: 60px;
}

.big,
.inverse {
  color: white;
  background: black;

}

[data-title="Hello world"] {
background: red


}
[data-one]
{
  background: red;
}

[data-two]
{
  background: green;
}
[data-three]
{
  color: purple;
  font-size: 100;
}
